.square
{
  float:          left;
  position:       relative;
  width:          20vmin;
  padding-bottom: 20vmin;
  border:         2px solid black;
  border-radius:  2.5vmin;
  margin:         0.5vmin;
}

.content
{
  position:       absolute;
  height:         56%; /* = 100% - 2 * 22% padding */
  width:          90%; /* = 100% - 2 *  5% padding */
  padding:        22% 5%;
  text-align:     center;
  font-size:      10vmin;
}

.row
{
  clear: both;
}

.this_gt_right:after
{
  position:       absolute;
  content:        " ";
  transform:      rotate(45deg);
  width:          30%;
  height:         30%;
  left:           85%;
  top:            35%;
  border-top:     2px solid black;
  border-right:   2px solid black;
  z-index:        1;
  background:     white;
}

.this_lt_right:after
{
  position:       absolute;
  content:        " ";
  transform:      rotate(45deg);
  width:          30%;
  height:         30%;
  left:           calc(85% + 1vmin + 1px);
  top:            35%;
  border-bottom:  2px solid black;
  border-left:    2px solid black;
  z-index:        1;
  background:     white;
}

.this_gt_below:before
{
  position:       absolute;
  content:        " ";
  transform:      rotate(45deg);
  width:          30%;
  height:         30%;
  left:           35%;
  top:            85%;
  border-bottom:  2px solid black;
  border-right:   2px solid black;
  z-index:        1;
  background:     white;
}

.this_lt_below:before
{
  position:       absolute;
  content:        " ";
  transform:      rotate(45deg);
  width:          30%;
  height:         30%;
  left:           35%;
  top:            calc(85% + 1vmin + 1px);
  border-top:     2px solid black;
  border-left:    2px solid black;
  z-index:        1;
  background:     white;
}

